<!doctype html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        form > * {
            display: block;
            margin-top: 10px
        }
    </style>
</head>
<body>

<form>

    <input type="text">
    <input type="password">
    <input type="number">
    <input type="range">
    <button>Create</button>

</form>
</body>
</html>